<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <title>OFTSYS</title>
</head>
<body>
    <div class="container">
        <div class="containerCadastro">
            
            <div class="containerPropaganda">
                <img class="imagemlogin" src="static\img\retina-scans-security-technology-double-color-exposure-effect.jpg" alt="Imagem Login">
            </div>
            <div class="containerForm">
                <div class="logoContainer">
                    <span><span>OFTSYS</span></span>
                    <label>A nova era do cuidado ocular começa com a IA.</label>
                </div>

                <div class="formInputs">
                    <form>
                        <div class="inputContainer">
                            <input type="text" id="inpUsuario" class="inpDadosUsuario" required>
                            <label>CRM</label>
                        </div>
                        <div class="inputContainer">
                            <input type="password" id="inpSenha" class="inpDadosUsuario" required>
                            <label>Senha</label>
                        </div>
                        <br>
                        <a href="/dashboard">
                            <button type="button" class="btnEntrar">Entrar</button>
                        </a>
                        <span>Esqueci minha senha<a href="/">Recuperar senha</a></span>
                        <span>Não tem uma conta? <a href="/">Cadastre-se</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
